<template name="education">
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <!--Education section-->
      {{#each data in educationData}}
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">{{data.clg}}</h3>
          <div class="subheading mb-3">{{data.degree}}</div>
          <p>{{data.gpa}}</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{data.year}}</span>
        </div>
      </div>
      {{/each}}

    </div>

  </section>

</template>