

<template name="experience">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>
            
            <!--Experience section-->
            {{#each data in experienceData}}
            
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                      <h3 class="mb-0">{{data.post}}</h3>
                      <div class="subheading mb-3">{{data.company}}</div>
                      <div class="subheading mb-2">{{data.project}}</div>
                      <p>{{data.role}}</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">{{data.duration}}</span>
                    </div>
                  </div>
            {{/each}}




           
        </div>
    </section>

    
</template>
